.venv/
.virtual_documents/
.ipynb_checkpoints/
**/.ipynb_checkpoints/

.codex
**/.codex

__pycache__/
*.py[cod]
*.pyo
**/.cache/
**/.mplconfig/

.DS_Store

pytorch/data/glove/

agent-beginner/third_party/NexAU/
agent-beginner/third_party/NexDR/
agent-beginner/third_party/NEXPR/
